/* Reset all padding and margin for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  padding: 20px 0;
}

nav .nav-link {
  color: #6c757d;
  font-weight: 500;
}
nav .nav-item :hover {
  color: #6a5ae0;
  font-weight: 500;
}

nav .nav-link.active {
  color: #6a5ae0;
}
.btn-primary-custom {
  background-color: transparent;
  border: 1px solid #6a5ae0;
  color: #6a5ae0;
  font-weight: 600;
}

.btn-primary-custom:hover {
  background-color: #6a5ae0;
  color: #fff;
}

.hero-section {
  padding: 60px 0;
}

.hero-content h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 1.2;
}

.hero-content h1 span {
  color: #6a5ae0;
}

.hero-content p {
  font-size: 1rem;
  color: #6c757d;
}

.hero-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

/* Container similar to Bootstrap container */
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

/* suraj css */
.heroImg {
  height: auto;
  width: 100%;
}

/* Card styling */
.expertise-card {
  background-color: #f5faff;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  border-radius: 15px;
}

.expertise-card:hover {
  box-shadow: 0 10px 20px rgba(12, 12, 12, 0.57);
  transform: translateY(-10px);
  border-color: #6a5ae0;
}

/* Card Image */
.expertise-card img {
  width: 60px;
  margin-bottom: 20px;
}

/* Card Title */
.expertise-card h5 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #343a40;
  margin-bottom: 15px;
}

/* Card Description */
.expertise-card p {
  font-size: 0.9rem;
  color: #6c757d;
}

/* Section Header Styling */
.section-header {
  text-align: center;
  margin-bottom: 50px;
}

.section-header p {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #6c757d;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0;
}

.about-section img {
  border-radius: 50%;
  width: 100%;
  max-width: 350px;
  height: auto;
  z-index: 1;
}

.about-text {
  margin-left: -50px;
  z-index: 2;
  background-color: white;
  padding: 20px;
}

.about-background {
  background-color: #e6e1ff;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  z-index: 0;
  margin-right: -300px;
}
.about-text {
  margin-left: 0;
  margin-top: 30px;
}

.about-background {
  margin-right: 0;
  margin-bottom: -200px;
}
